/* Font Reference

font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;

*/

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

body {
  font-size: 16px;
  line-height: 24px;
}

#app {
  position: relative;
  padding: 25px 15px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

#app .open-search,
#app .close-search {
  position: absolute;
  top: 25px;
  right: 25px;
  background-color: gray;
  font-size: 20px;
  padding: 10px;
}

#app .open-search a,
#app .close-search {
  color: black;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}

.root .title-cont {
  width: 100%;
  max-width: 400px;
  padding: 25px 10px;
  border: 1px solid dimgray;
  margin-bottom: 25px;
  background: red;
  box-shadow: 3px 6px rgba(0,0,0,0.5);
}

.root .title-cont h1 {
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  color: palegoldenrod;
  font-size: 44px;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px black;
}

.root .title-cont h1 span:first-of-type {
  color: silver;
}

@media (min-width: 1024px) {
  .root .title-cont h1 {
    font-size: 66px;
    line-height: 80px;
  }
}

.bookcase {
  position: relative;
  width: 100%;
  max-width: 1330px;
  margin: 0 auto 50px 0;
}

.book-shelf {
  margin: 50px 0;
  padding-bottom: 25px;
}

.book-shelf h2 {
  display: inline-block;
  position: relative;
  font-family: "Lato", sans-serif;
  color: red;
  font-size: 44px;
  line-height: 56px;
  text-transform: uppercase;
  margin: 10px 0 40px;
  padding-bottom: 20px;
}

.book-shelf h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

.books-list,
.ret-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.book-item {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 660px;
  padding: 15px 10px 65px;
  background-color: whitesmoke;
  box-shadow: 2px 3px 2px black;
  border: 1px solid dimgray;
  border-radius: 3px;
  margin-bottom: 45px;
}

.book-item .img-cont .img-bg {
  display: block;
  width: 120px;
  height: 180px;
  background: black;
  background-position: center;
  background-size: cover;
  border: 1px ridge silver;
  border-radius: 12px;
}

.book-item .img-cont .img-bg span {
  display: block;
  position: relative;
  z-index: 1;
  padding: 5px;
  color: white;
}

.book-item .contents {
  padding: 0 10px;
}

.book-item .book-title {
  font-family: "Oswald", sans-serif;
  color: darkslategray;
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.book-item .author {
  font-size: 22px;
  line-height: 26px;
}

.book-item .author span {
  font-family: "Oswald", sans-serif;
  color: red;
}

.book-item .changer {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.book-item .changer select {
  height: 35px;
  border: 0;
  background: red;
  color: white;
  padding: 0 15px;
  line-height: 35px;
  font-family: "Oswald";
  border-radius: 8px;
  font-size: 18px;
}

.search-root {
  padding-top: 15px;
}

.search-root h1 {
  padding: 20px;
  background: red;
  box-shadow: 4px 4px 2px rgba(0,0,0,0.5);
  font-family: "Oswald", sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.search-field {
  width: 100%;
  max-width: 360px;
  height: 60px;
  padding-left: 20px;
}
